.colelem {position: relative; display: none;}
.expelem {position: relative; display: block;}
.exeexe {position: relative; width:300; background:gold; cursor:pointer; list-style-type: none;}
.exeexe2 {position: relative; display: block; cursor:pointer;}